Repository sandeepjain101/run-devops: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/mongo-pipeline.yaml, pipelines/shoppingapi-pipeline.yaml

Path conditions:
  pipelines/mongo-pipeline.yaml: any of: pipelines/mongo-pipeline.yaml, aks/shoppingclient.yaml
  pipelines/shoppingapi-pipeline.yaml: any of: Shopping/Shopping.API, aks/shoppingapi.yaml

shoppngapi
  aks/shoppingapi.yaml
Due: pipelines/shoppingapi-pipeline.yaml

cicd
  pipelines/mongo-pipeline.yaml
  pipelines/shoppingclient-pipeline.yaml
Due: pipelines/mongo-pipeline.yaml

Fix client
  aks/shoppingclient.yaml
Due: pipelines/mongo-pipeline.yaml

delete azure
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

New Pipeline
  aks/shoppingclient.yaml
Due: pipelines/mongo-pipeline.yaml

Update New Pipeline
  aks/shoppingapi.yaml
  azure-pipelines.yml
  pipelines/mongo-pipeline.yaml
  pipelines/shoppingapi-pipeline.yaml
  pipelines/shoppingclient-pipeline.yaml
Due: pipelines/mongo-pipeline.yaml, pipelines/shoppingapi-pipeline.yaml

Fix
  pipelines/mongo-pipeline.yaml
Due: pipelines/mongo-pipeline.yaml

Fix 2
  pipelines/shoppingapi-pipeline.yaml
  pipelines/shoppingclient-pipeline.yaml
Due: none

Client Check
  Shopping/Shopping.Client/Views/Home/Index.cshtml
Due: none

Downsize
  aks/shoppingclient.yaml
Due: pipelines/mongo-pipeline.yaml
